language: ruby

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.1
  - jruby-19mode
  - jruby-head
  - rbx-19mode

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-19mode
    - rvm: jruby-head
    - rvm: rbx-19mode
